@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");

p {
  margin: 10px 0 !important;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: rgb(228, 236, 236);
}
#app {
  display: flex;
}

.header2 {
  font-weight: bolder;
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  color: #0aa06c;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  color: #0aa06c;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.budget-container {
  width: 70%;
  height: fit-content;
  padding: 10px 30px;
  // margin: 30px auto 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(228, 236, 236);
  position: inherit;
  border-radius: 20px;
  border-color: lightblue;
}

.MuiToolbar-root
  MuiToolbar-gutters
  MuiToolbar-dense
  css-10ltm04-MuiToolbar-root {
  width: 30%;
}
.sidebarlogo-container {
  width: fit-content;
}

.sidebar {
  width: fit-content;
}

.sub-budget-container {
  width: 50%;
  height: fit-content;
  padding: 10px 30px;
  margin: 30px auto 20px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(228, 236, 236);
  position: inherit;
  border-radius: 20px;
  border-color: lightblue;
}

.sub-sub-budget-container {
  width: 70%;
  height: fit-content;
  padding: 10px 30px;
  margin: 30px auto 20px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(228, 236, 236);
  position: inherit;
  border-radius: 20px;
  border-color: lightblue;
}

.content {
  width: 70%;
  height: 20%;
  margin: 8px;
  padding: 12px 20px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid c;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 3px 2px rgb(71, 64, 64);
  background-color: ivory;
  cursor: pointer;
}

.label {
  font-size: larger;
  font-weight: bolder;
  color: #0aa06c;
}

.totalSpend {
  font-size: larger;
  font-weight: bolder;
  color: red;
}

.btn {
  background-image: linear-gradient(#0aa06c, #74e4ca);
  border: 1px solid #0aa06c;
  min-width: auto;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  text-align: center;
  margin: 5px;
  box-sizing: border-box;
}

.btn:hover {
  background-color: rgb(36, 196, 182);
}

.btn:active {
  transform: translateY(1px);
}

.chart-container {
  height: 20vh;
}

.sidebar {
  height: 100%;
  width: 300px;
  background-color: rgb(206, 229, 230);
}

.sidebarlogo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarlogo {
  width: 80%;
  height: 30%;
}

.sidebar .sidebarUser {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarList .sidebarRow {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sidebarList .sidebarRow:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 239);
}

.sidebarList .sidebarRow #active {
  background-color: rgb(255, 255, 239);
}

.sidebarRow #icon {
  flex: 40%;
  display: grid;
  place-items: center;
}

.sidebarRow #title {
  flex: 60%;
}
